@model EDMS.Models.Document

@{
    ViewBag.Title = "Удалить документ";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<h3>Вы действительно хотите удалить этот документ?</h3>

<div class="document_table_wrapper">
    <table class="document-table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Number)
            </td>
            <td>
                @Html.DisplayFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ConclusionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ConclusionDate)
            </td>
        </tr>
        <tr>
            <td>Кем создан</td>
            <td>
                @Html.DisplayFor(model => model.Creator.FIO)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Organization.Name)
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Подтвердить" />
    </p>
}
