@model EDMS.Models.Document

@{
    ViewBag.Title = "Информация о документе";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<fieldset>
    <legend>@ViewBag.Title</legend>
    <table class="details-data">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Number)
            </td>
            <td>
                @Html.DisplayFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ConclusionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ConclusionDate)
            </td>
        </tr>
        <tr>
            <td>Кем создан
            </td>
            <td>
                @Html.DisplayFor(model => model.Creator.FIO)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Organization.Name)
            </td>
        </tr>
        @if (Model.Moderator != null) {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ModeratorID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Moderator.FIO)
                </td>
            </tr>
        }
    </table>

    @if (@ViewBag.IsMayCommit) {
        <div>
            @using (Html.BeginForm("Commit", "Client")) {
                @Html.AntiForgeryToken()
                <div class="hidden-fields">
                    @Html.Hidden("document_id", Model.ID)
                </div>
                <input type="submit" value="Зафиксировать" />
            }
        </div>
    }

</fieldset>
