@model EDMS.Models.Document

@{
    ViewBag.Title = "Отправить клиенту";
}

<h2>@ViewBag.Title</h2>


<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<fieldset>
    <legend>@ViewBag.Title</legend>

    <table class="details-data">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Number)
            </td>
            <td>
                @Html.DisplayFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ConclusionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ConclusionDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Organization.Name)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="hidden-fields">
            @Html.Hidden("document_id", Model.ID)
            <div>
                @Html.DropDownList("client_id", (SelectList)ViewBag.clients)
            </div>
        </div>

        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
</fieldset>
