@model EDMS.Models.Document

@{
    ViewBag.Title = "Просмотр документа";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<div class="document_table_wrapper">
    <table class="document-table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Number)
            </td>
            <td>
                @Html.DisplayFor(model => model.Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ConclusionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ConclusionDate)
            </td>
        </tr>
        <tr>
            <td>Кем создан
            </td>
            <td>
                @Html.DisplayFor(model => model.Creator.FIO)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Organization.Name)
            </td>
        </tr>
    </table>
</div>

<div>
    @using (Html.BeginForm("Confirm", "Moderator")) {
        @Html.AntiForgeryToken()

        <div class="hidden-fields">
            @Html.Hidden("document_id", Model.ID)
        </div>
        <input type="submit" value="Подтвердить" />
    }
</div>

<div>
    @using (Html.BeginForm("Reject", "Moderator")) {
        @Html.AntiForgeryToken()
        <div class="hidden-fields">
            @Html.Hidden("document_id", Model.ID)
        </div>
        <input type="submit" value="Отклонить" />
    }
</div>