@model IEnumerable<EDMS.Models.Document>

@{
    ViewBag.Title = "Список документов";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConclusionDate)
        </th>
        <th>Действия</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConclusionDate)
            </td>
            <td>
                @Html.ActionLink("Посмореть", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
