@model EDMS.Models.Organization

@{
    ViewBag.Title = "Удаление огранизации";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h3>Вы уверены, что хотите удалить данную организацию?</h3>
<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LegalAdress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LegalAdress)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Да"/>
        @Html.ActionLink("Нет", "Index")
    </p>
}
