@model IEnumerable<EDMS.Models.Organization>

@{
    ViewBag.Title = "Список организаций";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div>
    @Html.ActionLink("Вернуться к панели администратора", "Index") |
    @Html.ActionLink("Создать организацию", "CreateOrganization")
</div>

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalAdress)
        </th>
        <th>
        <th colspan="3">Действия
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalAdress)
            </td>
            <td>
                @Html.ActionLink("Посмотреть", "DetailsOrganization", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditOrganization", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Удалить", "DeleteOrganization", new { id = item.ID })
            </td>
        </tr>
    }
</table>
